:root {
	
	--brand-color: #6C63FF;
}
html {
    scroll-behavior: smooth;
   }

.page {
    max-width: 960px !important;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contentSection {
    padding-bottom: 40px;
}
.introSection{
    max-width: 1400px !important;
    padding-bottom: 40px;
    margin-top: -20px;

}
.textCard {
    padding: 30px !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold !important;
    font-size: 23px;
    line-height: 28px;
    color: #828282;
    

    background: rgba(226, 226, 226, 0.25);
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 15px;
}
.titleHeader{
    padding-bottom: 45px;
}
.underLineText {
    background: #E2E2E2;
    height: 4px;
    width: 100%;
}
.pageDivider {
    background: rgba(196, 196, 196, 0.15);
    height: 4px;
    width: 100%;
    margin-top: -20px;
}
.vertDivider {
    background: rgba(196, 196, 196, 0.15);
    height: 100%;
    width: 4px;
   
}

.scrollButton {
    transition-duration: 3s;
    border: none !important;
	cursor: pointer !important;
    outline: none !important;
    background: none ;
}
.sbutton , input[type="submit"], input[type="reset"] {
    background: #6C63FF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 40px;
    padding-left: 40px;

    border: none !important;
	cursor: pointer !important;
	outline: inherit !important;
}
.sbutton:hover {
    transition-duration: 0.3s !important;
    background: rgba(108, 99, 255, 0.90) !important;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
input {
    background: #F2F2F2  ;
    border-radius: 6px;
    border-width: 0px ;
    transition: ease-in-out, border-radius .5s ease-in-out;
    margin-top: 4px ; 
    width: 100%;
    height: 34px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
    padding-left: 10px;
}
input:focus{
    border-radius: 0px;
    border-width: 0px ;
}
textarea {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    border-radius: 7px;
    font-size: 14px !important;
    line-height: 15px !important;
    color: #4F4F4F !important;
    border: none !important;
	cursor: pointer !important;
    outline: inherit !important;
    background: #F2F2F2;
    padding: 6px;
}
.textInput::placeholder {
    color: #C0C0C0;
}
.textInput:disabled {
    color: #C0C0C0!important;
}
.textInput:disabled::placeholder {
    color: #E0E0E0 !important;
}
.profileImg {
    width: 168px;
    height: 168px;
}
.cButton {
    padding-top: 40px;
}
.scrollBut {
    width: 40px;
    height: 40px;
}
.a1 {
    margin-left:-170px ; 
    padding-top:68px; 
    min-width: 425px;
}
.a2 {
    padding-top:70px; 
    margin-left: -20px;
    min-width: 440px;
}
.p1 {
    margin-left:-145px ; 
    padding-top:60px; 
    max-width: 512px;
}
.p2 {
    padding-top:70px; 
    margin-left: -20px;
    min-width: 552px;
}
.p3 {
    margin-left:-140px ; 
    padding-top:85px; 
    min-width: 552px;
}
.t1 {
    padding-top:10px; 
    margin-left: -20px;
    min-width: 590px;
}
.t2 {
    margin-left:-170px ; 
    padding-top:15px; 
}
.imgA1{
    margin-left: -15px;
}
.imgA3{
    display: none;
    width: 100%;
}
.imgP1{
    margin-left: -8px;
    margin-top: 10px ; 
}
.imgP2 {
    margin-left: 75px ;
}
.imgP3 {
    margin-left: -15px;
    margin-top: 10px ; 
}
.imgT1 {
    margin-left : -109px;
    z-index: -1;
    margin-top: 80px ;
}
.imgT2 {
    margin-left: -15px;
}
.tLuke {
    margin-left: 70px;
}
.tStephan {
    margin-right: 70px;
}
#douter {
    width: 100%;
    text-align: center;
}
#dinner {
    display: inline-block;
}
.contact {
    width: 100%;
    min-width: 550px;
    margin-left: -12px ;
}
.cButton {
    margin-right: 0px !important;
 }
 
.aUn {
    max-width: 490px;
}
.pUn {
    max-width: 500px;
}
.tUn {
    max-width: 270px;
}
.cUn {
    max-width: 300px;
}

@media (max-width:980px) {
    .introAni {
        min-width: 1100px;
    }
    .scrollBut {
        width: 25px;
        height: 25px;
    }
    h1{
        font-size: 25px !important;
        line-height: 30px !important;
    }
    .aUn{
        max-width: 315px;
    }
    .pUn {
        max-width: 325px;
    }
    .tUn {
        max-width: 175px;
    }
    .cUn {
        max-width: 195px;
    }
    .a1 {   
     padding-top: 25px;
     margin-left: 0px;
    }
    .a2{
     margin-left: 0px;
     padding-top: 25px;
     min-width: 520px;
     width: 100% !important;
    }
    .p1{
        margin-left: 0px ;
        min-width: 329px !important;
        padding-top: 30px;
       }
    .p2 {
        padding-top:30px; 
        margin-left: 0px;
        min-width: 300px;
        
    }
    .p3{
        padding-top: 25px;
        margin-left: 0px;
        width: 100%;
        min-width: 405px;
        margin-top: -100px;
       }
    .t1 {
        padding-top: 220px;
        margin-left: 0px;
    }
    .imgA1{
     min-height: 50px; 
     width: 100%;  
     min-width: 500px;
     margin-left: 0px;
    }
    .imgA2{
        display: none ;
    }
    .imgA3 {
        display: flex; 
        min-width: 520px;
        padding-top: 10px ;
    }
    .imgP1{
        margin-left: 4px;
        margin-top: 0px ; 
    }
    .imgP2 {
        margin-left: 30px;   
        z-index: -1; 

    }
    .imgP3 {
        min-height: 50px; 
        width: 100%;  
        min-width: 500px;
        margin-left: 0px;
        padding-left: 20px;
        padding-right: 20px;
       }
    .imgT1 {
        margin-left : 0px;
        margin-top: -380px ;    
    }
    .imgT2 {
        margin-left: 0px;
    }
    .titleHeader{
        padding-left: 20px;
       }
    .cButton {
       padding-top: 20px;
    }
    .contact {
        margin-left: 2px;
        min-width: 260px;
    }
    #Touter {
        width: 100%;
        text-align: center;
    }
    #Tinner {
        display: inline-block;
    }
      
  }
  @media (max-width:720px) {
    .introAni {
        min-width: 900px;
    }
    .p2 {
        min-width: 400px;
        padding-top: 200px;
    }
    .t1 {
        padding-top: 180px;
    }
    .t2 {
        min-width: 600px;
        margin-left: 0px;
    }
    .imgP2 {
        margin-left: 0px;
        margin-top: -340px;
    }
    .imgT1 {
        margin-left : 0px;
        margin-top: -380px ;    
    }
    #outer {
        width: 100%;
        text-align: center;
    }
    #inner {
        display: inline-block;
    }
  }
  @media (max-width:660px) {
    .imgC1 {
        display: none ;     
    }
  }
  @media (max-width:600px) {
    .introAni {
        min-width: 700px;
    }
    .tLuke {
        min-width: 350px;
        margin-left: 0px;
        margin-top: -40px;
        padding-bottom: 30px;
    }
    .tStephan {
        min-width : 350px; 
        margin-right: 0px;
    }
    .tDivider {
        display: none !important;
    }
  }
  @media (max-width:560px) {
    .introAni {
        padding-top: 100px;
    }
    .a1{
     min-width: 300px  !important;
    }
    .a2{
     min-width: 300px;
    }
    .p2 {
     min-width: 300px;
     padding-top: 160px;
    }
    .p3{
        min-width: 300px  !important;
       }
    .t1 {
        min-width: 300px  !important;
        padding-top: 150px;
    }
    .t2 {
        min-width: 300px;
    }
    .imgA1{
     min-width: 250px;
    }
    .imgA3{
        min-width: 250px;
    }
    .imgP1{
        width: 250px;
    }
    .imgP2 {
        margin-left: 0px;
        margin-top: -260px;
    }
    .imgP22{
        width: 220px !important;
    }
    .imgP3{
        min-width: 250px;
       }
    .imgT1 {
        margin-left : 0px;
        margin-top: -290px ;    
    }
    .imgT11 {
        width: 240px;   
    }
    .imgT22 {
        width: 240px;
    }
    .textCard {
        font-size: 15px;
        line-height: 19px;
        padding:20px !important;
    }   
  }

  @media (max-width:412px) {
    .t1 {
        padding-top: 150px;
      }
    .imgT1 {
    margin-left : 0px;
    margin-top: -320px ;    
    }
    .tLuke {
        min-width : 300px;
    }
    .tStephan {
        min-width : 300px;
    }


  }


h1{
    font-size: 45px;
    line-height: 53px;
    color: #333333;
    font-family: Roboto !important;
    font-style: normal;
    font-weight: bold !important;
}
h2{
    font-family: Roboto !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 30px !important;
    line-height: 35px;
    text-align: center;

    color: #333333;
}
h3{
    font-family: Roboto !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 21px;
    text-align: center;
    color: #4F4F4F;
}
h4{
    font-family: Roboto !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 21px;

    color: #BDBDBD;
}